---
import {reader} from "../reader"
import Layout from "../layouts/Layout.astro";

import type {HeroInfoProps, OwnerInfoProps} from "../types";

const ownerInfo = await reader.singletons.ownerInfo.read();
const {name, headline} = ownerInfo as OwnerInfoProps;

const heroInfo = await reader.singletons.heroInfo.read();
const {summary, cta} = heroInfo as HeroInfoProps;

export const prerender = true;
---

<Layout>
    <section class="py-24 md:py-32" id="#hero">
        <h1 class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl">
            {name}
        </h1>
        <p class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary-600 sm:text-5xl md:text-6xl">
            {headline}
        </p>
        <p class="mb-16 text-base font-normal text-neutral md:text-lg">
            {summary}
        </p>

        <a class="inline-block rounded-full bg-primary-600 px-8 py-5 text-sm leading-5 font-medium text-[#fff]"
           href={`${cta}`}>
            Get in Touch
        </a>
    </section>
</Layout>