---
import {reader} from "../reader";

import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import Footer from "@components/Footer.astro";
import Plausible from "@components/Plausible.astro";
import type {OwnerInfoProps, SiteInfoProps, SocialLinksProps, NavLinksProps} from "@types";

const ownerInfo = await reader.singletons.ownerInfo.read();
const {name, headline, description, small_image} = ownerInfo as OwnerInfoProps;

const siteInfo = await reader.singletons.siteInfo.read();
const {
    language,
    socialImage,
    canonicalUrl,
    plausibleDomain
} = siteInfo as SiteInfoProps || {};

const title = `${name} - ${headline}`;
const siteLogo = small_image ?? "";
const ogImgUrl = new URL(
    socialImage ?? "",
    canonicalUrl ?? Astro.site ?? Astro.url.origin
).href;

const socialLinksData = await reader.collections.socialLinks.all();
const socialLinks: SocialLinksProps[] = socialLinksData.map(({entry}) => entry);

const navLinksData = await reader.collections.navLinks.all();
const navLinks: NavLinksProps[] = navLinksData.map(({entry}) => entry);

---

<!doctype html>
<html lang={language} class="scroll-pt-16 scroll-smooth">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={description}/>
    <meta name="author" content={name}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>

    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:url" content={canonicalUrl}/>
    <meta property="og:image" content={ogImgUrl}/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content={canonicalUrl}/>
    <meta property="twitter:title" content={title}/>
    <meta property="twitter:description" content={description}/>
    <meta property="twitter:image" content={ogImgUrl}/>
    <Plausible domain={plausibleDomain}/>
</head>
<body class="bg-black font-sans">
<Header siteLogo={siteLogo} navLinks={navLinks}/>
<main class="mx-auto max-w-3xl px-5">
    <slot/>
</main>
<Footer name={name} socialLinks={socialLinks}/>
</body>
</html>