---
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";

import {SEO} from "astro-seo";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Plausible from "@components/Plausible.astro";

import {reader} from "../reader";
import {sortArray} from "../utils";

import type {OwnerInfoProps, SiteInfoProps, SocialLinksProps, NavLinksProps} from "@types";

import "../styles/global.css";

const ownerInfo = await reader.singletons.ownerInfo.read();
const {name, headline, description, small_image} = ownerInfo as OwnerInfoProps;

const siteInfo = await reader.singletons.siteInfo.read();
const {
    language,
    socialImage,
    canonicalUrl,
    plausibleDomain
} = siteInfo as SiteInfoProps || {};

const title = `${name} - ${headline}`;
const siteLogo = small_image;
const ogImgUrl = new URL(socialImage, canonicalUrl ?? Astro.site ?? Astro.url.origin).href;

const socialLinksData = await reader.collections.socialLinks.all();
const socialLinks: SocialLinksProps[] = sortArray(
    socialLinksData.map(({entry}) => entry),
    entry => entry.order);

const navLinksData = await reader.collections.navLinks.all();
const navLinks: NavLinksProps[] = sortArray(
    navLinksData.map(({entry}) => entry)
    , entry => entry.order);
---

<!doctype html>
<html lang={language} class="scroll-pt-16 scroll-smooth">
<head>
    <title>{title}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: "website",
                    image: ogImgUrl,
                    url: canonicalUrl,
                },
                optional: {
                    description: description,
                }
            }}
            twitter={{
                site: "@psampaio",
                creator: "@psampaio",
                card: "summary_large_image",
                title: title,
                description: description,
                image: ogImgUrl
            }}
            extend={{
                link: [
                    {rel: "icon", href: "/favicon.png", type: "image/png"},
                ],
                meta: [
                    {name: "generator", content: Astro.generator},
                    {name: "twitter:url", content: canonicalUrl},
                ],
            }}
    />
    <Plausible domain={plausibleDomain}/>
</head>
<body class="bg-black font-sans">
<Header siteLogo={siteLogo} navLinks={navLinks}/>
<main class="mx-auto max-w-3xl px-5">
    <slot/>
</main>
<Footer name={name} socialLinks={socialLinks}/>
</body>
</html>